* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;  
  --stroke-color: #1E293B;

  /* Text Colors */
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  /* Fonts */
  --font-family: 'Archivo', sans-serif;
  --font-family-2: 'Archivo Black', sans-serif;
  --h1: 800 1.5rem/135% var(--font-family);
  --h2: 800 1rem/140% var(--font-family);
  --h3: 800 .875rem/140% var(--font-family);
  --text-span: 600 .875rem/145% var(--font-family);
  --text: 400 1rem/140% var(--font-family);
  --text-sm: 400 .875rem/160% var(--font-family);
  --text-bl: 400 .875rem/140% var(--font-family-2)
}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);

  &:hover svg path {
    fill: #60A5FA;
  }
}

h1, h2, h3 {
  font: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 80rem;
  padding-inline: 1rem;
  margin-inline: auto;
}

main {
  margin-block: 1rem;
  row-gap: 5rem;
  column-gap: 2rem;

  grid-template-columns: 57.24% 42.76%;

  grid-template-areas: 
  "featured featured"
  "weekly weekly"
  "ai aside";
}

.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: .25rem .5rem;
  border-radius: .25rem;
  font: 500 .625rem/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
  box-shadow: 0 .25rem 1rem rgba(2, 6, 23, 0.25);
}

@media (width >= 80em) {

  & .container {
    margin-block: 2.5rem;
    padding-inline: 2rem;
  }
}