#primary {
  padding-block: 1rem;

  & div {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  & div:nth-child(2) {
    margin-inline: auto;
  }

  & div:nth-child(3) {
    justify-self: end;
  }
}

 #secondary {
   display: flex;
   padding-block: .875rem;
   border: solid 1px var(--stroke-color);
   border-inline: none;
   overflow-x: auto;
   white-space: nowrap;
   gap: 2rem;

 }

 @media (width >= 80em) {

  & #primary {
    padding-block: 1.25rem;
  }

  & #secondary {
   justify-content: space-between;
   overflow: hidden;

  }
 }