header {
  padding-bottom: .875rem;
  font: var(--text-span);
  color: var(--text-color-secondary);

  & a {
      justify-self: end;
      align-items: center;
      gap: .5rem;
    }
}

#featured {

  & > figure {
    
    & img {
      width: 20.5rem;
      height: 26rem;
      object-fit: cover;
    }
  }
  
  & h2 {
    width: 18.5rem;
    height: 6rem;
    
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & div {

    & img {
      width: 20.5rem;
      height: 12.5rem;
      object-fit: cover;
    }

    & h2 {
      width: 19rem;
      height: 3.75rem;
    }
  }
  
  & .card {
    position: relative;
    overflow: hidden;
    border-radius: .25rem;

    &::before {
      content: "";
      max-width: 20.5rem;
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

    & figcaption {
      position: absolute;
      bottom: 0;

      padding: 1.5rem;

      &:has(.text-lg) {
        padding: .75rem;
      }

      & h2 {
        margin-top: .5rem;
      }
    }
  }
}

#weekly {
  margin-block: 2rem;
  padding-bottom: 1.5rem;

  & header {
    padding-block: .75rem 1.5rem;
    border-top: 1px solid var(--stroke-color);
  }

  & img {
    width: 20.5rem;
    height: 10rem;
    object-fit: cover;
  }

  & figure {
    position: relative;

    & .content-tag {
      position: absolute;
      top: .5rem;
      left: .5rem;
    }

    & p {
      margin-top: .5rem;
      font-weight: 800;
    }
  }
}

#ai {
  border-top: 1px solid var(--stroke-color);
  margin-bottom: 2rem;
  padding-top: .75rem;

  & header h3 {
    margin: 0;
  }

  & article {

    & div:last-child {
      
      & h3 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  & img {
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  & span {
    margin-top: .125rem;
  }

  & h3 {
    margin-block: .5rem .25rem;
  }

  & p {
    color: var(--text-color-secondary);

    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

 #more {
  margin-top: 2rem;
  
  & header {
    padding-block: .75rem 0;
  }
  
  & > div {
    margin-top: 1.5rem;
    gap: 2rem;
  }
  
  & article {
    gap: .9375rem;

    & h3 {
      display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-top: .5rem;
    }


    & img {
      width: 4.5rem;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    & span {
      margin-top: .125rem;
    }
  }

 }

@media (width  >= 80em) {
  & .desktop {
    display: grid; 
    grid-template-columns: 1fr 30.5rem;
    grid-template-areas: 
      "ai aside";

    gap: 2rem;
  }

  & header {
  font: var(--text-span);
  }

  #featured {
    grid-auto-flow: column;

    & > figure{

      & h2 {
        width: 35rem;
        height: 6rem;
      }
      
      & img {
        width: 38rem;
        height: 26rem;
        }
      }

    & > div {
      grid-template-columns: 1fr 1fr;

      & img {
        width: 18rem;
        height: 12.5rem;
      }

      & h2 {
        width: 16.5rem;
        height: 3.75rem;
      }
    }

    & .card {

      &::before {
        max-width: 38 rem;
      }
    }
  }

  #weekly {
    margin-bottom: 80px;
    /* padding-bottom: 0; */

    & > div {
    height: 14.625rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    }

    & > div figure {
      
      & p {   
        height: 4.125rem;

        
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }



      & img {
        width: 18.25rem;
        height: 10rem;
        object-fit: cover;
      }
    }
  }

  aside {
    padding-bottom: 0;
  }

  #ai {
    margin-bottom: 0;

    & header {
      padding-bottom: 1.5rem;
    }

    & article {
      display: flex;

      & div:first-child {
        order: 2;
      }
      
      & div:last-child {
        width: 31.5rem;
        padding-top: .375rem;
      }

      & h3 {
        margin-block: .5rem .25rem ;
      }
    }
    
    & img {
    width: 11rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  }

  aside {
    
    & #ads {

      & img {
        width: 30.5rem;
        height: 17.5rem;
      }
    }
  }

  #more {

    & header {
      padding-block: .75rem 0;
    }

    & > div {
      margin-top: 1.5rem; 
    }

    & article {
      height: 4.5rem;

      & span {
        margin-top: .125rem;
      }
    }
  }
  
}