header {
  padding-bottom: .875rem;
  font: var(--text-span);

  & a {
      justify-self: end;
      align-items: center;
      gap: .5rem;
    }
}

#featured {

  & > figure {
    
    & img {
      height: 26rem;
      object-fit: cover;
    }
  }
  
  & h2 {
    width: 18.5rem;
    height: 6rem;
    
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & div {

    & img {
      width: 20.5rem;
      height: 12.5rem;
      object-fit: cover;
    }

    & h2 {
      width: 19rem;
      height: 3.75rem;
    }
  }
  
  
  & .card {
    position: relative;
    overflow: hidden;
    border-radius: .25rem;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

    & figcaption {
      position: absolute;
      bottom: 0;

      padding: 1.5rem;

      &:has(.text-lg) {
        padding: .75rem;
      }

      & h2 {
        margin-top: .5rem;
      }
    }
  }
}

#weekly {
  margin-block: 2rem;
  padding-bottom: 1.5rem;

  & header {
    padding-block: .75rem 1.5rem;
    border-top: 1px solid var(--stroke-color);
  }

  & img {
    width: 20.5rem;
    height: 10rem;
    object-fit: cover;
  }

  & figure {
    position: relative;

    & .content-tag {
      position: absolute;
      top: .5rem;
      left: .5rem;
    }

    & p {
      margin-top: .5rem;
      font-weight: 800;
    }
  }
}

#ai {
  grid-area: ai;

  & img {
    width: 11rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  & p {
    color: var(--text-color-secondary);

    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & h3 {
    margin-block: .5rem .25rem;
  }
}

 aside {
  grid-area: aside;
 }

 #more {
  margin-top: 2rem;

  & h3 {
    margin-top: .5rem;
  }

  & img {
    width: 724.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
 }

@media (width  >= 80em) {

  & header {
  font: var(--text-span);
  }

  #featured {
    grid-auto-flow: column;

    border: 1px solid red;

    & > figure{

      & h2 {
        width: 35rem;
        height: 6rem;
      }
      
      & img {
        width: 38rem;
        height: 26rem;
        }
      }

    & > div {
      grid-template-columns: 1fr 1fr;

      & img {
        width: 18rem;
        height: 12.5rem;
      }

      & h2 {
        width: 16.5rem;
        height: 3.75rem;
      }
    }
  }

  #weekly {

    & > div {
    grid-template-columns: repeat(4, 1fr);
    }

    & > div figure {

      & img {
        width: 18.25rem;
        height: 10rem;
        object-fit: cover;
      }
    }
  }
}